html {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 32px;
}

#title {
    position: fixed;
    top: 21%;
    background:darksalmon;
    padding: 15px 50px;
    z-index: 1;
}

img {
    top: 16%;
    position: fixed;
    display: block;
    width: 45%;
    margin-left: 7%;
}

#nav-bar {
    position: fixed;
    top: 18%;
    left: 60%;
}

.nav-item {
    display: inline-block;
    padding: 15px 20px;
    margin: 10px;
    /* background-color: green; */
    font-size: 20px;
    cursor: pointer;
    border-bottom: 3px solid white;
    font-weight: 600;

    transition: border-color 0.3s ease;
}

.nav-item:hover {
    border-bottom: 3px solid darksalmon;
}

#info-container {
    /* background-color: green; */
    border: 1px solid rgb(219, 219, 219);
    position: fixed;
    top: 27%;
    left: 56%;
    width: 39%;
}

#info {
    padding: 40px;
    font-size: 18px;
    line-height: 1.6;
}

h3 {
    margin: 0;
    padding-bottom: 25px;
}